# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Hugging Face / cache
.cache/

# Datasets (large files)
dataset/archive/*.csv

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
